/* izug.seantis.reservation */

#content .directorySearchFormButtons input {
    margin-top: 1.1em;   
}

#content #directoryResultList {
    border-top: none;
    margin-top: 3px;   
}

#content .directoryResult {
    border: 0.0919em solid #dedede;
    border-radius: 0;
}

#content .directoryResult:hover {
    border-color: #006fba;
    background-color: white;
}

#content .groupSelection {
    -webkit-box-shadow: 0 0 0 0 white !important;
    -moz-box-shadow: 0 0 0 0 white !important;
    box-shadow: 0 0 0 0 white !important;
    background-color: white !important;
    
    border-color: #006fba;
}

#content #landingPageImage {
    margin-right: 7px;
}

#content #directoryInfo.facilityInfo {
    width: 50%;   
}

#content .facilityOverview {
    width: 45%;
}