/* izug.seantis.reservation */

#content .directorySearchFormButtons input {
    margin-top: 1.1em;   
}

#content #directoryResultList {
    border-top: none;
    margin-top: 3px;   
}

#content .directoryResult {
    border: 0.0919em solid #dedede !important;
    border-radius: 0;
    padding: 10px 5px 15px 12px !important;
    position: relative;
}

#content .directoryResult:hover {
    border-color: #bbb;
    background-color: #efefef;
}

#content .groupSelection {
    -webkit-box-shadow: 0 0 0 0 white !important;
    -moz-box-shadow: 0 0 0 0 white !important;
    box-shadow: 0 0 0 0 white !important;
    background-color: #efefef !important;
    
    border-color: #bbb;
}

#content #landingPageImage {
    margin-right: 7px;
}

#content #directoryInfo.facilityInfo {
    width: 50%;   
}

#content .facilityOverview {
    width: 45%;
}

#directoryResultMap {
   float: none;   
   width: 100%;
   padding-top: 15px;
   height: 300px;
}

#directoryResultMap #default-cgmap {
    height: 300px;
}

#content div.directoryMarker {
    position: absolute;
    top: 5px;
    right: -2px;
    left: auto;     
}